<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title, "Title", class: "form-label"%><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :content, "Content", class: "form-label"%><br>
    <%= form.text_area :content, class: "form-control", rows: "3" %>
  </div>

  <div>
    <%= form.button "Create Article", class: "btn btn-outline-secondary mt-3" %>
  </div>
<% end %>
